
$background: #fff;
$content: #000;

$shade1: #b1b1b1;
$shade2: #dddddd;

$tint1: #ffffff;


$accomodation: #9b59b6;
$accomodation-shade: #8e44ad;

$travel: #2ecc71;
$travel-shade: #27ae60;

$activities: #f1c40f;
$activities-shade: #f39c12;
