@import '~css-colors';
@import '~css-constants';


.root {
    position: relative;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
}


.add-event {
    position: absolute;
    bottom: 0;
    right: 0;
}


.icon { margin-right: $box-size; }


.section {
    margin-bottom: 1px;
    min-height: 32px;
}
