@import '~css-colors';
@import '~css-constants';


.root {
    display: flex;
    flex-direction: column;
    width: 260px;
    padding: $box-size;

    border: 1px solid $shade1;
    border-top: none;
    background-color: $tint1;
}


.input {
    flex: 1 1 auto;
    margin-bottom: $box-size !important;
}
