
$height: 42px;

.root {
    flex: 0 0 #{$height};
    display: flex;
    justify-content: space-between;

    background-color: #f9690e;
}


.menu {
    position: absolute;
    top: $height;
    bottom: 0;
}


.login {
    position: absolute;
    top: $height;
    right: 0;
}


.right,
.left {
    display: flex;
    align-items: center;
    padding: 0 12px;
}
