@import '~css-colors';
@import '~css-constants';


.root {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4 * $box-size;
    padding: 12px 8px;

    background-color: $shade2;
}
