@import '~css-constants';


.root {
    display: flex;
    flex-direction: column;

    font-size: 12px;
}


.main {
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
}


.grid {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: #{$box-size * 1.5};
}
